.shopPage-section {
    margin-top: 2rem;
}

.shopPage-section .heading-container {}

.shopPage-section .heading-container h3 {
    margin: 1rem 0;
}

/* by function  */

.by-function-section {
    margin-top: 2rem;
}

.by-function-section h3 {
    padding: 1rem 0;
    font-size: 1.5rem;
}

.function-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(248, 246, 224);
    padding: .4rem;
}

.function-item {}

.function-item-img {
    width: 280px;
    height: 400px;
}

.function-item-img img {
    width: 100%;
    height: 100%;
}

.function-item button {
    font-size: 17px;
    /* background-color: #fff; */
    padding: .3rem 1rem;
    display: block;
    margin: auto;
    position: relative;
    top: -1rem;
    cursor: pointer;
}

/* .by tyep  */
.by-type-section {
    margin: 2rem 0;
}

.by-type-section h3 {
    padding: 1rem 0;
}

.type-container {}

.type-item {
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    margin-right: 1rem;
    padding: .3rem 1rem;
}

.type-img {
    width: 70px;
    height: 70px;
}

.type-item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


/* trending sectin /////////////////// */
.trending-section h3 {
    padding: 3rem 0 1rem 0;
    font-size: 1.6rem;
}

.trending-item {
    /* border: 1px solid red; */
    width: 300px;
    /* background-color: rebeccapurple; */
    /* margin: 0 1rem 0 0; */
    /* padding: 1rem; */
}



.trending-item-img {
    width: 290px;
}

.trending-item-img img {
    width: 100%;
    border-radius: 6px;
}

.trending-item-desc {
    padding: .3rem 0;
}

.trending-item-desc p {
    margin: .2rem 0;
}

.trending-item-desc .price {
    font-weight: bold;
    color: red;
}

/* luxury section .............................. */
.luxryBridal-section h3 {
    padding: 1rem 0;
    font-size: 1.6rem;
}

.luxury-container {
    background-color: rgb(238, 194, 194);
    padding: 1rem 2rem;
}

.luxury-item {
    width: 320px;
    height: 550px;
    /* border: 1px solid rebeccapurple; */
}

.luxury-item-img {
    width: 320px;
    height: 490px;
}

.luxury-item-img img {
    width: 100%;
    height: 100%;
}

.luxury-item-name {
    padding: 1rem 2rem;
}

.luxury-item-view-all-btn {
    text-align: center;
    margin-top: 3rem;
}

.luxury-item-view-all-btn button {
    font-size: 1.3rem;
    padding: .4rem 3rem;
    border-radius: 5px;
    color: rgb(245, 197, 134);
    background: #fff;
    border: 1px solid rgb(247, 180, 163);
    cursor: pointer;
}