* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(245, 245, 245);
}

/* uitlities , univarsalClassName ................. */

.universal-container {
    max-width: 70vw;
    margin: auto;
}

.topMargin {
    margin-top: 5rem;
}